{% extends 'base.html' %} {% load static %}
{% block wrapper %}
  <div class="home">
      <div class="preview">
          <div class="side-note">
              <h1>Turn your trash to cash with our smart bin</h1>
              <p class="tip">Drop your recycleables in our smartbin to get points which you can redeem for cash or discounts on selected products</p>
              <button class="stats" type="button" name="button">View stats</button>
          </div>
      </div>
      <div class="working">
          <h1>How it works</h1>
            <div class="">
                <img src="{% static 'images/procedure.png' %}" loading="lazy" alt="how it works">
            </div>
      </div>
      <div class="top-peak">
        <img src="{% static 'images/smart.png' %}" alt="bin">
        <div class="quick-info">

        </div>
      </div>
      <div class="description">
          <iframe width="640" height="360" src="https://www.youtube.com/embed/wiA6hNPXDRM" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
      <div class="sponsors">
        <h3 class="sponsors-header">Our sponsors</h3>
          <div class="sponsors-list">
              <img src="{% static 'images/sponsors/ford.png' %}" alt="">
              <img src="{% static 'images/sponsors/eden.png' %}" alt="">
              <img src="{% static 'images/sponsors/clinton.png' %}" alt="">
              <img src="{% static 'images/sponsors/cress.png' %}" alt="">
              <img src="{% static 'images/sponsors/enactus.png' %}" alt="">
              <img src="{% static 'images/sponsors/mmu.png' %}" alt="">
          </div>
      </div>
  </div>
{% endblock %}
<!-- resources links -->
{% block css %}
  <link rel="stylesheet" href="{% static 'home/css/home.css' %}">
{% endblock %}
{% block js %}
  <script src="{% static 'home/js/home.js' %}" charset="utf-8"></script>
{% endblock %}
