*{
  box-sizing: border-box;
  outline: none !important;
  padding: 0px;
  margin: 0px;
  font-family: sans-serif;
}
body {
  background-color: #edf5e1 !important;
}
.page-wrapper {
  max-width: 100vw;
  overflow-x: hidden;
  margin: auto;
}
.virdis-preview .prev-side {
  color: #fff;
  max-width: 300px;
  padding-top:90px;
  font-size: 1.2em;
}
.virdis-preview {
  background: linear-gradient(to bottom,rgba(36, 36, 36, .3),rgba(36, 36, 36, .3)), url('/static/images/prev.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 80vh;
}
.prev-side button{
    padding: 10px 18px;
    margin-left: 20px;
    margin-top: 10px;
    background-color: #168d75;
    color: #ffffff;
    outline: none;
    border: none;
    border-radius: 10px;
}
.prev-side button:hover {
  cursor: pointer;
}
.arrow-down {
  background-color: #00bcd4a6;
  animation: bouncy 1s cubic-bezier(0.51, 0.8, 1, 1.23) infinite;
  justify-content: center;
  align-content: center;
  border-radius: 50%;
  align-items: center;
  font-weight: bold;
  position: relative;
  text-align: center;
  font-size: 20px;
  cursor: pointer;
  width: 60px;
  height: 60px;
  display: flex;
  color: #000;
  top: 1vh;
  margin: auto;
}
.more {
  padding-top: 40px;
}
.more-content {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
}
.more-content .spinner {
  width: 400px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  align-content: center;
}
.spinner p {
  border: 15px solid #fb9b92;
  justify-content: center;
  align-content: center;
  border-radius: 50%;
  align-items: center;
  font-weight: bold;
  font-size: 25px;
  text-align: center;
  width: 250px;
  height: 250px;
  display: flex;
}
 .description {
  width: 400px;
}
.description p {
  padding: 5px;
}
.topic-header {
  color: #01156e;
}
.understand {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  padding-top: 70px;
}
.process-item {
  margin: auto 20px;
}
.process-item .process-info p {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  text-align: center;
}
.process-item .process-info h4{
  text-align: center !important;
  padding-top: 25px;
  font-weight: bold;
  }
.process-item img{
  width: 150px;
  height: 150px;
  display: block;
  margin: auto;
}
.understand-wrapper {

}
.proposition{
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  margin: 0px auto;
  padding: 20px;
}
.prop-item {
  width: 400px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  align-content: center;
}
.prop-item img {
  max-width: 400px;
  max-height: 300px;
  display: block;
  margin: auto;
}
.working {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  flex-direction: column;
}
.working img {
  width: 500px;
  max-height: 300px;
}
.video {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  margin: 60px auto;
}
.video iframe {
  max-width: 80% !important;
  max-height: 850px !important;
}
.competitive {

}
.competitive h2 {
  text-align: center;
  padding: 4px;
}
.competitive .advantage {
  justify-content: space-around;
  align-content: center;
  align-items: center;
  flex-wrap: wrap;
  display: flex;
}
.advantage .it-adv p{
  justify-content: center;
  display: flex;
  margin: 10px auto;
  text-align: center;
}
.advantage .it-adv img{
  width: 150px;
  height: 150px;
}
.founders {
  margin: 70px auto;
  background-color: #edf5e1;
}
.founders h2 {
  text-align: center;
  padding: 10px;
}
.founders .f-profile {
  display: flex;
  align-items: center;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}
.f-1 img {
  height: 270px;
}
.f-1 .title{
  display: flex;
  align-items: center;
  flex-direction: column;
}
.group-3 {
  background-color: #edf5e1;
}
.partners h2 {
  text-align: center;
  padding: 10px auto;
}
.partners-wrap {
  justify-content: space-around;
  align-content: center;
  padding: 40px auto;
  align-items: center;
  flex-wrap: wrap;
  display: flex;
}
.item-1 {
  width: 150px;
  height: 120px;
}
.item-1 img{
  width: 80px;
  height: 80px;
  margin: auto;
  display: block;
}
.topic-header-alt {
  display: none;
  text-align: center;
  color: #01156e;
}
.group-1 {
  background-color: #edf5e1;
}
.group-2 {
  background-color: #8ee4af;
}
@media only screen and (max-width:1220px) {
  .prev-side button{
      padding: 10px 18px;
      margin-left: 20px;
      margin-top: 3px;
      margin-bottom: 30px;
  }
  .more-content .spinner {
    justify-content: center;
  }
  .virdis-preview .prev-side {
    margin-left: 30px;
  }
  .process-item .process-info p {
  }
}
@media only screen and (max-width:815px) {
  p{
      font-size: 18px;
  }
  .topic-header-alt {
    display: block;
  }
  .topic-header {
    display: none;
  }
  .arrow-down {
    top: 7vh;
  }
  .founders {
    margin: 30px auto;
  }
}
@media only screen and (max-width:671px) {
  iframe {
    width: 100%;
    height: 200px;
    margin: auto;
    display: block;
  }
  .virdis-preview .prev-side {
    margin-left: 10px;
  }
}
@media only screen and (min-width:1220px) {
  .virdis-preview .prev-side {
    margin-left: 60px;
  }
}

@keyframes bouncy {
    0% {
        top:-1vh;
    }
    100% {
      top: 2vh;
    }
}
