{% extends 'base.html' %}{% load static %}
{% block wrapper %}
<div class="form-wrapper">
    <h3 class="web-name">Virdismart | Login</h3>
    <form class="login" action="/accounts/signup/" method="post" autocomplete="off">
      <input type="hidden" name="csrfmiddlewaretoken" value="{{csrf_token}}" class="token">
      <div class="input-field">
        <label class="errors email"></label>
        <input type="email" name="email" class="username" placeholder="email" autocomplete="false">
      </div>
      <div class="input-field">
        <label class="errors username"></label>
        <input type="username" name="username" class="username" placeholder="username" autocomplete="false">
      </div>
      <div class="input-field">
        <label class="errors password"></label>
        <input type="password" name="password1" class="password" placeholder="password" autocomplete="false">
      </div>
      <div class="input-field">
        <!-- <label class="errors password2"></label> -->
        <input type="password" name="password2" class="password" placeholder="password" autocomplete="false">
      </div>
      <div class="input-field submit-btn">
        <button type="submit" name="submit" class="submit btn">signup</button>
      </div>
    </form>
    <div class="account">Have an account?  <a href="{% url 'Accounts:account' %}">login</a></div>
  </div>
  <div class="loaders">
      <p class="loader-1"></p>
  </div>
{% endblock %}
{% block css %}
  <link rel="stylesheet" href="{% static 'Accounts/css/login.css' %}">
{% endblock %}
{% block js %}
  <script src="{% static 'Accounts/js/signup.js' %}" charset="utf-8"></script>
{% endblock %}
