{% extends 'base.html' %}{% load static %}
{% block wrapper %}
<div class="image-preview">
  <p class="close-preview">&times;</p>
      <img src="" alt="">
</div>
  <div class="profile-preview">
      <div class="team-member">
          <p>
              <img class="team-img" src="{% static 'Team/images/eric.png' %}" alt="Eric">
          </p>
          <div class="member-info">
              <h3>Eric Mwirichia</h3>
              <p>CEO | Virdis</p>
          </div>
            <p class="social-footer">
                <a href="https://www.linkedin.com/in/eric-mwirichia-175720122/" target="_blank">
                    <i class="fa fa-linkedin"></i>
                </a>
                <a href="https://twitter.com/ericmwirichia" target="_blank">
                    <i class="fa fa-twitter"></i>
                </a>
            </p>
      </div>
	  <div class='team-member' >
			<p>
				<img class='team-img' src="{% static 'Team/images/patricia.png' %}" alt='Patricia Mativo'>
			</p>
			  <div class='member-info'>
					<h3 > Patricia Mativo </h3>
					<p> CPO | Virdis </p>
			  </div>
			  <div class='social-footer'> 
			  	<a href='' target='_blank'>
					<i class='fa fa-linkedin'></i>
				</a>
				<a href='' target='_blank'>
					<i class='fa fa-twitter'></i>
				</a>
			  </div>
	  </div>
      <div class="team-member">
          <p>
              <img class="team-img" src="{% static 'Team/images/paige.png' %}" alt="Paige">
          </p>
          <div class="member-info">
              <h3>Paige Maina</h3>
              <p>COO | Virdis</p>
          </div>
            <p class="social-footer">
                <a href="">
                    <i class="fa fa-linkedin"></i>
                </a>
                <a href="">
                    <i class="fa fa-twitter"></i>
                </a>
            </p>
      </div>
      <div class="team-member">
          <p>
              <img class="team-img" src="{% static 'Team/images/abby.png' %}" alt="Abby">
          </p>
          <div class="member-info">
              <h3>Abby Chebet</h3>
              <p>CFO | Virdis</p>
          </div>
            <p class="social-footer">
                <a href="https://www.facebook.com/chirpy.chebby" target="_blank">
                    <i class="fa fa-facebook"></i>
                </a>
                <a href="https://www.instagram.com/p/CLcnTSkgCVOzs3co8vIuaffiRqoxf8tTj8QJXs0/?igshid=13vqky008l4fd" target="_blank">
                    <i class="fa fa-instagram"></i>
                </a>
            </p>
      </div>
      <div class="team-member">
          <p>
              <img class="team-img" src="{% static 'Team/images/jarvis.png' %}" alt="Jarvis">
          </p>
          <div class="member-info">
              <h3>James Maina</h3>
              <p>Product Engineer | Virdis</p>
          </div>
            <p class="social-footer">
                <a href="">
                    <i class="fa fa-linkedin"></i>
                </a>
                <a href="">
                    <i class="fa fa-twitter"></i>
                </a>
            </p>
      </div>
      <div class="team-member">
          <p>
              <img class="team-img" src="{% static 'Team/images/lilian.png' %}" alt="Lilian">
          </p>
          <div class="member-info">
              <h3>Lilian Waita</h3>
              <p>Corporate Rrelation | Virdis</p>
          </div>
            <p class="social-footer">
                <a href="https://www.google.com/url?sa=t&source=web&rct=j&url=https://ke.linkedin.com/in/lilian-waita-30a20b174&ved=2ahUKEwi36pv2lY_vAhXV7eAKHSxkCu0QFjAEegQICBAD&usg=AOvVaw3XpCx8kOeIndG8m_ebFTme" target="_blank">
                    <i class="fa fa-linkedin"></i>
                </a>
                <a href="https://www.facebook.com/waprasupratyra.olilioh" target="_blank">
                    <i class="fa fa-facebook"></i>
                </a>
            </p>
      </div>
      <div class="team-member">
          <p>
              <img class="team-img" src="{% static 'Team/images/tom.png' %}" alt="Tom">
          </p>
          <div class="member-info">
              <h3>Thomas Tsuma</h3>
              <p>ML Developer | Virdis</p>
          </div>
            <p class="social-footer">
                <a href="http://www.linkedin.com/in/thomas-a-tsuma-869b94162" target="_blank">
                    <i class="fa fa-linkedin"></i>
                </a>
                <a href="https://medium.com/@tommytsuma7" target="_blank">
                    <i class="fa fa-medium"></i>
                </a>
            </p>
      </div>
      <div class="team-member">
          <p>
              <img class="team-img" src="{% static 'Team/images/duncan.png' %}" alt="Duncan">
          </p>
          <div class="member-info">
              <h3>Duncan Kipchirchir</h3>
              <p>Python Developer | Virdis</p>
          </div>
            <p class="social-footer">
                <a href="https://www.linkedin.com/in/dan-k-290359182" target="_blank">
                    <i class="fa fa-linkedin"></i>
                </a>
                <a href="https://twitter.com/codemonste" target="_blank">
                    <i class="fa fa-twitter"></i>
                </a>
            </p>
      </div>
      <div class="team-member">
          <p>
              <img class="team-img" src="{% static 'Team/images/kevin.png' %}" alt="Kevin">
          </p>
          <div class="member-info">
              <h3>Kevin Ngure</h3>
              <p>React Developer | Virdis</p>
          </div>
            <p class="social-footer">
                <a href="">
                    <i class="fa fa-linkedin"></i>
                </a>
                <a href="">
                    <i class="fa fa-twitter"></i>
                </a>
            </p>
      </div>
  </div>
  <h3>Advisors</h3>
  <div class="profile-preview advisors">
    <div class="team-member">
        <p>
            <img class="team-img" src="{% static 'Team/images/magu.png' %}" alt="magu">
        </p>
        <div class="member-info">
            <h3>Dr Martin Magu</h3>
            <p>Analytical/Environmental & Computational Chemistry Researcher
              Department of Chemistry
              Faculty of Science & Technology
              <br>Multimedia University of Kenya
              | Virdis</p>
        </div>
          <p class="social-footer">
              <a href="">
                  <i class="fa fa-linkedin"></i>
              </a>
              <a href="">
                  <i class="fa fa-twitter"></i>
              </a>
          </p>
    </div>
    <div class="team-member">
        <p>
            <img class="team-img" src="{% static 'Team/images/mugo.png' %}" alt="mugo">
        </p>
        <div class="member-info">
            <h3>Dr Mary Mugo</h3>
            <p>Senior Lecturer and Dean Faculty of Business &Economics
                <br>Multimedia University of Kenya
                  Author, Corporate Trainer and Consultant in Strategic Management/HR/Marketing/Leadership.
              | Virdis</p>
        </div>
          <p class="social-footer">
              <a href="">
                  <i class="fa fa-linkedin"></i>
              </a>
              <a href="">
                  <i class="fa fa-twitter"></i>
              </a>
          </p>
    </div>
  </div>
  {% endblock %}
{% block css %}
  <link rel="stylesheet" href="{% static 'Team/css/team.css' %}">
{% endblock %}
{% block js %}
  <script src="{% static 'Team/js/team.js' %}" charset="utf-8"></script>
{% endblock %}
