* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  padding: 0px;
  margin: 0px;
}
*::selection {
  background-color: inherit;
}
*:focus,*:active {
  border: 0px !important;
  outline: none !important;
}
a:hover {
    text-decoration: none !important;
    color: #ffffff !important;
}
.loading {
    justify-content: center;
    background-color: grey;
    align-items: center;
    overflow: hidden;
    position: fixed;
    display: flex;
    height: 100%;
    width: 100%;
    z-index: 3;
    top: 0px;
    left: 0px;
}
.loading img {
  width: 200px;
  height: 200px;
}
.trigger-side {
  display: none;
}
.trigger-side span {
  background-color: #000;
  margin: 7px auto;
  min-width: 30px;
  min-height: 5px;
  display: block;
}
.footer {
  width: 100%;
  background-color: #379683;
}
.footer >div::selection {
  background-color: inherit;
}
.horizontal {
  background-color: #fff;
  max-width: 100%;
  height:.5px;
  margin: 0px 10px;
}
.footer h4 {
  text-decoration: underline;
}
.footer a {
  color: #fff;
  margin: 10px auto;
  text-decoration: none;
}
.footer a:hover{
  text-decoration: none;
}
.main-footer  >div,h4{
  display: block;
  width:200px;
  margin: 5px auto;
}
.footer .copy-write {
  text-align: center;
  margin: auto;
}
.go-top::selection {
  background-color: inherit;
}
.go-top {
  background-color: #edf5e1;
  justify-content: center;
  align-content: center;
  border-radius: 50%;
  align-items: center;
  font-weight: bold;
  text-align: center;
  font-size: 20px;
  cursor: pointer;
  position: fixed;
  bottom: 30px;
  display: none;
  width: 60px;
  height: 60px;
  right: 10px;
  display: flex;
}
.menu-side {
  animation: slide .3s 1 ease-out;
  background-color: #808080;
  min-height: 100vh;
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 4;
  display: none;
  top: 0px;
  left: 0px;
}
.close-bar {
  margin-right: 20px;
  font-weight: bold;
  font-size: 60px;
  position: absolute;
  right: 0px;
  top: 0px;
}
.menu-side img {
  max-width: 300px;
  max-height: 200px;
  display: block;
  margin: auto;
  margin-top: 30px;
}
.url-links {
    width: auto;
    margin: auto;
    margin: 10px;
    font-size: 20px;
    margin: 40px 10px;
    margin-left: 30%;
}
.menu-side a {
  text-decoration: none;
  margin-left: 20px;
  color: #fff;
}
.menu-side a:hover{
  text-decoration: none;
  color: #fff;
}
.menu-side a:active{
  text-decoration: none;
  color: #fff;
}
.menu-side a:focus{
  text-decoration: none;
  color: #fff;
}
.dev-navbar {
  position: sticky;
  top: 0px;
  z-index: 2;
}
.navbars {
  animation: navbarAnim .5s 1 ease-out;
  position:sticky;
  top:0px;
  left:0px;
}
.navbars-up {
  animation: navbarAnimUp .5s 1 ease-out;
  position:static;
}
.company {
  justify-content: center;
  align-content: center;
  align-items: center;
  height: 100px;
  display: flex;
}
.final {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-around;
  padding-bottom: 10px;
  flex-wrap: wrap;
}
.final a {
  min-width: 150px;
}
.edison {
  color: #ffc617;
  text-align: center;
}
.virdis-social a{
  display: flex;
  align-items: center;
  /* justify-content: center; */
  align-content: center;
}
.virdis-social a>i{
  margin: auto 6px;
  color: reset;
}
@keyframes navbarAnim {
    0% {
          transform: translateY(-100px);
    }
    100% {
        transform: translateY(0px);
    }
}
@keyframes navbarAnimUp {
    0% {
      transform: translateY(0px);
    }
    100% {
        transform: translateY(-100px);
    }
}
/* small devices */
@media only screen and (max-width:580px) {
  .trigger-side {
    display: block;
    float: left !important;
    margin: auto;
    margin-left: 15px;
    margin-top: 20px;
  }
    .dev-navbar {
      display: none;
    }
    .navbar2 {
      background-color: #edf5e1;
      display: block;
      height: 100px;
      color: #05386b !important;
      z-index: 1;
      top: 0px;
      left: 0px;
    }
    .navbar2 h2 {
      text-align: center;
      margin: auto;
      }
      .main-footer h4{
        text-align: center;
      }
}
@media only screen and (min-width:700px) {
  .top-footer {
    justify-content: center;
    align-content: center;
    align-items: flex-start;
    margin-left: 20px;
    display: flex;
  }
  .top-footer > .main-footer {
    margin: 10px 5px ;
    min-height: 100%;
    margin-top: 80px;
    flex: 1;
  }
  .mid-main-footer {
    margin: 0px 10px;
  }
}
@media only screen and (min-width:580px) {
  .menu-side {
    display: none;
  }
  .dev-navbar {
    background-color: #edf5e1;
    justify-content: flex-end;
    align-content: center;
    align-items: center;
    height: 100px;
    color: #05386b !important;
    display: flex;
  }
  .navbar2 {
    display: none;
  }
  .dev-navbar a {
    color: #05386b;
    text-decoration: none;
    font-size: 20px;
    margin: auto 10px;
  }
  .dev-navbar > div {
    flex: 1;
  }
  .dev-navbar .dev-link {
    display: flex;
    align-items: center;
    align-items: center;
    justify-content: flex-end;
  }
  .dev-navbar img {
    width: 150px;
    height: 70px;
    margin: auto;
    margin-left: 20px;
  }
}
@keyframes slide {
    0% {
      opacity: .1;
    }
    100%{
      opacity: 1
    }
}
